<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/CSS/homeAfter.css">
</head>

<body>

  <div class="main">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- jee logo  -->
        <a class="navbar-brand" href="#"><img src="/images/jee background.png" alt="logo.png" width="150px"
            height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000">Explore</a>
            </li>
            <% if(role=='student' ){ %>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/subjectSelection">Problems</a>
              </li>
            <% } %>
            <% if(role=='teacher' ){ %>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/uploadQuestion">Upload Question</a>
              </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="#">Contest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>


          <!-- profile dropdown  -->
          <div class="btn-group" role="group">
            <button id="Drop1" type="button" class="btn btn-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/images/profile photo.png" alt="profile.png" class="profile-img">
              <%= username  %>
            </button>
            <ul class="dropdown-menu " aria-labelledby="Drop1">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="http://localhost:3000">Log-out</a></li>
            </ul>
          </div>

          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item btn-premium" style="margin-left: 0;">
              <a class="nav-link" href="#">Premium</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="catchyTag">
      <h1>"Unlock Success, One Question at a Time!"</h1>
    </div>
    <div class="cards-container">
      <div class="card first">
        <img src="/Images/courses.jfif" alt="">
        <p class="card-title">Top 50-Physics</p>
        <p class="card-info">Revise your Concepts now </p>
      </div>
      <div class="card">
        <img src="/Images/courses.jfif" alt="">
        <p class="card-title">Top 50-Physics</p>
        <p class="card-info">Revise your Concepts now </p>
      </div>
      <div class="card">
        <img src="/Images/courses.jfif" alt="">
        <p class="card-title">Top 50-Physics</p>
        <p class="card-info">Revise your Concepts now </p>
      </div>
      <div class="card">
        <img src="/Images/courses.jfif" alt="">
        <p class="card-title">Top 50-Physics</p>
        <p class="card-info">Revise your Concepts now </p>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About JeeCode</h2>
        <p>JeeCode offers a comprehensive set of problems and solutions to help students excel in their exams. Join us
          to unlock success!</p>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>Email: support@jeecode.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2023 JeeCode, All rights reserved.</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>