<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show in detail</title>
</head>
<body>
    <h1>Here is your request</h1>
    <div>
        <h3>your requested id : <%= post.id %></h3>
        <h3>username : <%= post.username %></h3>
        <h4>content: <%= post.content %></h4>
    </div>
</body>
</html>